# Introduction to Python - Session 1

## Section 1: Printing, Calculator, Variables & Basic types

### Strings & Printing

In [ ]:
# Basic printing
print("Hello World!")

# strings can be seperated/added via the plus sign
print("My name is " + "Tilman!")

**Escaping quotes** <br>
A String is a sequence of characters, identified/between quotes: '', "".
The second quote to a first one marks the end of the string. If we want to use quotes in our string we have to escape them or use other quotes as string delimiters

In [ ]:
print('My name is O\'Brian!')

print("My name is O'Brian!")

print("\"Wow!\", he said.")

print('"Wow!", he said.')

### Basic calculator
We can perform any basic operation via the respective symbols, e.g:

In [2]:
2+2
1-1
100*13
123/98
# modulo is supported as well
30%2

0

The above works, however does not print anything (in normal python scripts) in order to display the result, we have to print it:

In [ ]:
print(2+2)
print(123/98)
print(30%2)

**PEMDAS** - Python follows PEMDAS (Punkt-vor-Strich):

In [ ]:
print(2+4*2)
print((2+4)*2)

In [ ]:
# Potencies work as well easily:
print(2**3)
print(5**2)

### Variables
If we want to store the result of our calculation or simply our name we can assign a value to a variable.

**Choose meaningfull names!** (yt py)

**Good practice / standard:** in python is 'snake case': <br>
my_name, growth_per_year

In [ ]:
name = "Tilman"
age = 22
height = 1.78

We can use variables in calculations, suppose I grew every year of my life the same amount:

In [ ]:
growth_per_year = height * 100 / age

print(growth_per_year)

In [ ]:
# if we want to print our growth per year combined with a string, like this:
# My growth per year is: 8.1, we might think the following will work:
print("My growth per year is: " + growth_per_year)

### Types
There are different types in Python. The ones we focus on for now are: *integers, floats and strings*:

#### Integers/int

In [ ]:
persons = 10
number_of_apples = 1203

# if we want to update a value we can do this in two ways:
persons = persons + 1
print(persons)
persons += 1
print(persons)

# this works for all operations:
persons *= 2
persons /= 10
persons **= 2
persons -= 1000
print(persons)

In [ ]:
# to check the type of a variable use the type function:
print(type(persons))

#### Floats/float

In [ ]:
# floats or float
height = 2.02
print(type(growth_per_year))

For floats we might want to round - this ca be done via the round function: <br>
syntax: `round(number, round_position)` where: <br>
round_position: 0 round 1er, -1 round 10er, -2 round 100er, 
1 round 0.x, 2 round 0.0x:

In [ ]:
print(round(height, 1))

val = 126.471
print(round(val, 0))
print(round(val, -1))
print(round(val, -2))
print(round(val, 1))
print(round(val, 2))

#### Strings/str

In [ ]:
name = "Leonhard Euler"
print(type(name))

four = "4"
four_word = "four"
job = 'Mathematician'
bio = """was a Swiss mathematician, physicist, astronomer, geographer, 
logician and engineer who who made important and influential discoveries in 
many branches of mathematics, such as infinitesimal calculus and graph theory, 
while also making pioneering contributions to several branches such as topology 
and analytic number theory.
"""
source_url = "https://en.wikipedia.org/wiki/Leonhard_Euler"

print(four)
print(type(four))
print(4)
print(type(4))

#### Convert values/types

In [ ]:
float_age = float(age)
int_height = int(height)
four_int = int(four)
# int + float = float
str_growth_per_year = str(growth_per_year)

In [ ]:
four_word_int = int(four_word) # error

In [ ]:
# so now we can print our growth:
print("My growth per year is: " + str_growth_per_year) 

# If we don't want to handle conversions of types for printing we can use 
# formatted strings: f"... {variable} {another_variable}":
print(f"My name is {name}")
print(f"My growth per year is: {growth_per_year}")

#### Boolean

In [ ]:
# A further data type is bool. There are two possible values:
True
False

# when talking about if- else statements, they will be more important
# for now we just want to present them

has_pets = True

### input()
We can ask the user for input via the input function:

In [ ]:
name = input()
print(f"Hi {name}!")

In [ ]:
# we can add a string/info to the prompt:
# For better formatting we have to add a space or a new line (\n)
name = input("What is your name? ")
print(f"Hi {name}!")

In [ ]:
# everthing that the input function returns is a string
# so we may have to convert to the respective type
age = int(input("How old are you? \n> "))
print(f"{age} years old, that's impressive!")

## Section 2: More Types: Lists

### List init
Lists are a collection of elements of any type within two `[]` brackets:

In [ ]:
friends = ["Ben", "Maria", "Charly"]
print(type(friends))

meassures = [13, 91, 84, 3.1, 83.4, 65]
print(meassures)

In [6]:
# initialize empty list
my_fruits = []

### List Methods

#### .append() 
Add new entries (used e.g. in dynamic creation of lists in for-loop -> later).

**The first element of a list has the index `0`!**

In [7]:
my_fruits.append("apple")
print(my_fruits)

['apple']

In [8]:
my_fruits.append("apple")
my_fruits.append("apple")
my_fruits.append("melon")
my_fruits.append("peach")
my_fruits.append("strawberry")
print(my_fruits)

['apple', 'apple', 'apple', 'melon', 'peach', 'strawberry']

#### .extend()
Concat/merge two lists:

In [ ]:
new_fruits = ["pineapple", "banana", "kiwi", "lemon", "kiwi"]

# my_fruits.append(new_fruits)
plus_list = my_fruits + new_fruits
print(plus_list)
my_fruits.extend(new_fruits)
print(my_fruits)

#### .count() 
Count the number of occources of an element in an list

In [9]:
print(my_fruits.count("apple"))

3

#### .pop()
Remove & return the last element - lists needs to be of min len 1.

In [ ]:
last_el = my_fruits.pop()
print(last_el)
print(my_fruits)

my_fruits.pop()
print(my_fruits)

In [ ]:
# alternatively we can also pop a specific element via giving the pop method 
# the index of the to-be-poped item:

my_fruits.pop(0)

#### .remove() 
Remove a specific element from a list:

In [ ]:
my_fruits.remove("apple")
print(my_fruits)

In [ ]:
# when there are multiple identical elements, only the first element gets removed
my_fruits.remove("kiwi")
print(my_fruits)

#### .sort()
Sort a list alpha-numerical.

In [ ]:
my_fruits.sort()
print(my_fruits)

meassures.sort()
print(meassures)

In [ ]:
new_list = meassures + my_fruits
print(new_list)
new_list.sort()

# TypeError: '<' not supported between instances of 'int' and 'str'
# conversion of all elements in lists can be achieved using map or list comprehension (later)

#### .reverse()

Reverses a list

In [ ]:
my_fruits.reverse()
print(my_fruits)

#### sum()
Summs up all values in a list (*all values have to be ints or floats*)!

In [ ]:
sum_of_meassures = sum(meassures)
print(sum_of_meassures)

print(sum([1,2,3,4,5,6,12]))

#### .index()
Sometimes you don't know the index of an element, in this case we can use 
the index() method. The element has to be in the list (not like in JS), else: <br>
> ValueError: 'x' is not in list

In [ ]:
print(my_fruits.index("lemon"))

In [ ]:
# if a list contains one fruit/entry multiple times, the index for the first
# occources gets returned (as it's the case for remove())
my_fruits.append("lemon")
print(my_fruits.index("lemon"))

#### .clear()
If we want to remove all elements from our list we can use the clear method:

In [ ]:
my_fruits.clear()
print(my_fruits)

### Cutting & Accesing via the index

In [ ]:
# access the first element
first = my_fruits[0] # -> returns first element

In [ ]:
# we can update entries in a list using the index like this:
my_fruits[0] = "blue-berry"
print(my_fruits)

In [ ]:
# you can cut simply using the ':' char
# cut of first element / return everything after the first element
# the my_fruits list stays the same!
sliced_list = my_fruits[1:]
print(sliced_list)

In [ ]:
# cut of everything after the second element
sliced_list = my_fruits[:2]

So the syntax is `[from:to]` with the defaults: <br>
from = 0, to = len(list)-1 (last element)

In [ ]:
# get the length of a list:
num_of_fruits = len(my_fruits)

# last index is however:
print(len(my_fruits) - 1)

### Multiplying lists
you can mulitply lists, basically repeating all elements *x times:

In [ ]:
print([1,2]*4)

### Complex lists 
You can also combine types and create for example an info list for everybody:

In [ ]:
age = 45
name = "Alex"
info = [age, name, friends]

first_friend = info[2][0]

info2 = [12, "Ben", ["Alex", "Sena", "Leo"]]

all_infos = [info, info2]

second_friend_from_ben = all_infos[1][2][1]

A little messy -> for structured data & informations we can use dicts.

## Section 3 - Tuples & Dictionaries

### Tuples
Tuples are similar to lists - 
the difference between lists and tuples ist that tuples are not changeable and values ar within (), they are used to store multiple items in a single variable.

In [ ]:
coords = (2, 4, 2)
print(type(coords))

In [ ]:
# accesing and indicies work the identical to lists
print(coords[0])

The only methods tuples have are the index and count method we talked about for lists. They work identical:

In [ ]:
print(coords.count(2))

# again, .index() only shows the index of the first found element
print(coords.index(2))

Identical to lists we can also multiply tuples:

In [ ]:
print(coords * 2)

### Dicts
A dict is a associative list:<br>
in a list we can access elements via the index ([1]), in a dict we have key:value pairs and access elemts/values using a defined key. <br>
**One important thing: dicts do not allow duplicates!** <br>
Syntax is as follows:

In [ ]:
personal_info = {"name" : "Tilman"}
print(type(personal_info))
print(personal_info)

For dicts wich hold more than one key-value pair the following is cleaner and clearer. <br>
Of course we can aso use variables in dicts:

In [ ]:
my_job = "student"

personal_info = {
    "name": "Tilman",
    "job": my_job,
    "height": 1.78,
}

print(personal_info)

In [ ]:
# often lists of dictionaires are used, where every list entry represents one data point
# e.g.: web scraping
persons = [
    personal_info,
    {
        "name": "Charly",
        "job": "Teacher",
        "height": 1.68
    }
]

print(persons)

> For naming the keys it is common to use snake_case with all lower chars (as for variables)

#### .update()

Update a dict: <br>
if we want to update (add new key:value paires / update existing) a dict, we can use the update method. if the key we specify already exists, the method updates, else it appends.

In [ ]:
personal_info.update({
    "height": 1.69
})
print(personal_info)

In [ ]:
personal_info.update({
    "has_pets": True
})
print(personal_info)

In [ ]:
personal_info.update({
    "has_pets": False,
    "job": "Taxi Driver"
})

print(personal_info)

In [ ]:
# pay attention if you used a variable -> change the values here 
# -> updated everywhere
print(persons)

#### .keys()
Sometimes you may need all existing keys for a dict, you can get those via the keys method:

In [ ]:
print(personal_info.keys())

#### Update & Access via index/key
Another way to update (similar to lists)

In [ ]:
personal_info["height"] = 1.70

In [ ]:
# accessing values works similar:
my_height = personal_info["height"]
print(f"My height is {personal_info['height']}")